<section id="sidebar">
    <script type="text/javascript">
        require({
            context: "sidebar",
            baseUrl: "/cms/js/sidebar/",
            paths: {
                'import' : '/cms/js/import'
            },
            map: {
                '*' : {
                    'domReady': 'import!domReady',
                    'shared': 'import!shared'
                }
            }
        }, ["sidebarconfig"], function(sidebarconfig) {
            console.log("ok, sidebarconfig load complete");
        });
    </script>

    <p>some sidebar content</p>
</section>
