<section id="sidebar">
    <script type="text/javascript">
        var myrequire = require.config({
            context: "sidebar",
            baseUrl: "/cms/js/sidebar/",
            paths: {
                'import' : '/cms/js/import'
            },
            map: {
                '*' : {
                    'domReady': 'import!domReady',
                    'shared': 'import!shared'
                }
            }
        });
        myrequire(["sidebarconfig"], function(sidebarconfig) {
            console.log("ok, sidebar complete");
        });
    </script>

    <p>some sidebar content</p>
</section>
